:root {
  --color-primary-r: 200;
  --color-primary-g: 200;
  --color-primary-b: 200;
  --color-secondary-r: 17;
  --color-secondary-g: 32;
  --color-secondary-b: 45;
  --color-primary: rgb(var(--color-primary-r),var(--color-primary-g),var(--color-primary-b), 1);
  --color-secondary: rgb(var(--color-secondary-r),var(--color-secondary-g),var(--color-secondary-b), 1);
}

body, html {
  /*ackground-color: var(--color-secondary);*/
  background: var(--color-secondary) url("/images/background.png") repeat;
  color: var(--color-primary);
} 

.clear {
  clear:both;
}
.vertical-cener {
  margin-top: auto;
  margin-bottom: auto;
}
.capitalize { 
  text-transform: capitalize;
} 
.flex-right {
  display: flex;
  flex-direction: row-reverse;
}  
.flex-left {
  display: flex;
  flex-direction: row;
}  
.miniImage {
  max-width: 18px;
  width: auto;
  height: auto;
}
.nav button.hamburger {
  color: var(--color-primary);
}
h1, h3 {
  text-shadow: 1px 1px 2px var(--color-secondary);
}